@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap");
/*---FLEXBOX---*/
/*---BORDER---*/
/*---SHADOW---*/
/*---HOVER---*/
/*---KEYFRAME---*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Akaya Kanadaka", system-ui;
  margin: 0;
}

p,
td {
  font-family: "Afacad", sans-serif;
  color: black;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/achtergrond.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Afacad", sans-serif;
  height: 100vh;
  margin: 0;
  position: relative;
}
body .nav-menu {
  position: absolute;
  left: 2.5%;
  top: 50%;
  transform: translateY(-50%);
}
body .nav-menu ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0.5rem;
  gap: 1rem;
}
body .nav-menu ul a {
  border: solid 2px rgb(171, 211, 174);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 0.75rem;
  border-radius: 50%;
}
body .nav-menu ul a img {
  width: 1.75vw;
}
body .nav-menu ul #settings-button {
  background-color: rgb(171, 211, 174);
}
body .mainContainer {
  background-image: url("../images/achtergrond_logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 85%;
  height: 92.5%;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 20px;
}
body .mainContainer .informatie-kas-main-container {
  display: flex;
  justify-content: space-evenly;
}
body .mainContainer .informatie-kas-main-container .linker-kant-plant {
  width: 45%;
  padding: 2em;
}
body .mainContainer .informatie-kas-main-container .linker-kant-plant .plant-titel {
  display: flex;
  flex-direction: row;
}
body .mainContainer .informatie-kas-main-container .linker-kant-plant .plant-titel h1 {
  font-size: 2.5em;
  font-weight: 400;
  color: rgb(46, 86, 81);
}
body .mainContainer .informatie-kas-main-container .linker-kant-plant .plant-titel h2 {
  font-size: 2.5em;
  font-weight: 400;
  color: rgb(171, 211, 174);
  margin-left: 1vw;
}
body .mainContainer .informatie-kas-main-container .linker-kant-plant .linker-plant-tekst {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1em;
}
body .mainContainer .informatie-kas-main-container .linker-kant-plant .linker-plant-tekst .table-informatie-kas {
  border: solid 2px rgb(171, 211, 174);
  box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff;
  border-radius: 20px;
  padding: 0.5em;
  width: 100%;
  font-size: 1.2em;
  background-color: white;
}
body .mainContainer .informatie-kas-main-container .linker-kant-plant .linker-plant-tekst .table-informatie-kas .onder-border1 {
  border-bottom: 2px solid rgb(171, 211, 174);
}
body .mainContainer .informatie-kas-main-container .linker-kant-plant .linker-plant-tekst .table-informatie-kas .onder-border {
  border-bottom: 2px solid rgb(171, 211, 174);
  padding-bottom: 1em;
}
body .mainContainer .informatie-kas-main-container .linker-kant-plant .linker-plant-tekst .table-informatie-kas .tr-informatie-kas td:first-child {
  color: grey;
  width: 80%;
}
body .mainContainer .informatie-kas-main-container .rechter-kant-plant {
  width: 55%;
  padding: 2em;
}
body .mainContainer .informatie-kas-main-container .rechter-kant-plant .grafiek-innerbox {
  border: solid 2px rgb(171, 211, 174);
  box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff;
  border-radius: 20px;
  background-color: white;
  height: 100%;
}
body .mainContainer .informatie-kas-main-container .rechter-kant-plant .grafiek-innerbox h2 {
  font-size: 2.5em;
  font-weight: 400;
  color: rgb(46, 86, 81);
  text-align: center;
  margin-top: 1em;
}
body .mainContainer .mainBorder {
  height: 100%;
}
body .mainContainer .mainBorder .content {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 0.75rem;
}
body .mainContainer .mainBorder .content .kant-midden {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
}
body .mainContainer .mainBorder .content .kant-midden .navbar {
  display: flex;
  justify-content: center;
  padding: 2vh;
}
body .mainContainer .mainBorder .content .kant-midden .navbar h1 {
  display: flex;
  align-items: center;
  margin-right: 10vw;
}
body .mainContainer .mainBorder .content .kant-midden .navbar .navbar-icons {
  display: flex;
  align-items: center;
}
body .mainContainer .mainBorder .content .kant-midden .navbar .navbar-icons .icons-border {
  margin-left: 20vw;
}
body .mainContainer .mainBorder .content .kant-midden .navbar .navbar-icons a {
  border: solid 2px rgb(171, 211, 174);
  box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff;
  border-radius: 50%;
  height: 5vh;
  width: 5vh;
  margin-left: 2vw;
  margin-right: 2vw;
  padding: 0.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .mainContainer .mainBorder .content .kant-midden .navbar .navbar-icons a img {
  max-width: 60%;
  max-height: 60%;
}
body .mainContainer .mainBorder .content .kant-midden h1 {
  color: rgb(46, 86, 81);
  font-weight: 400;
  font-size: 2.5rem;
  text-align: start;
  margin-bottom: 1rem;
}
body .mainContainer .mainBorder .content .kant-midden .plant-grid {
  display: flex;
  flex-direction: row;
  border-top: solid 3px rgb(171, 211, 174);
  justify-content: center;
  position: relative;
  gap: 3rem;
  height: 75%;
  width: 80%;
}
body .mainContainer .mainBorder .content .kant-midden .plant-grid table {
  margin-top: 1.5rem;
  width: 100%;
  border-collapse: collapse;
}
body .mainContainer .mainBorder .content .kant-midden .plant-grid table td,
body .mainContainer .mainBorder .content .kant-midden .plant-grid table tr,
body .mainContainer .mainBorder .content .kant-midden .plant-grid table th,
body .mainContainer .mainBorder .content .kant-midden .plant-grid table tbody {
  margin: 0;
  padding: 0;
}
body .mainContainer .mainBorder .content .kant-midden .plant-grid table tr {
  width: 100%;
}
body .mainContainer .mainBorder .content .kant-midden .plant-grid table td {
  width: 20%;
}
body .mainContainer .mainBorder .content .kant-midden .plant-grid .vertical-line {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 3px;
  height: 95%;
  background-color: rgb(171, 211, 174);
}
body .mainContainer .mainBorder .content .kant-midden .plant-grid .plant-container {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 10px rgba(185, 185, 185, 0.5);
  border: solid 2px rgb(171, 211, 174);
  width: 100%;
  height: 7vh;
  border-radius: 10px;
  background-color: white;
}
body .mainContainer .mainBorder .content .kant-midden .plant-grid .plant-container h2 {
  font-family: "Afacad", sans-serif;
  color: gray;
  font-weight: 400;
}
body .mainContainer .mainBorder .content .kant-midden .plant-grid .plant-container img {
  height: 100%;
}
body .mainContainer .mainBorder .content .kant-midden .plant-grid .add-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 7vh;
  width: 100%;
}
body .mainContainer .mainBorder .content .kant-midden .plant-grid .placeholder {
  box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff;
  border: solid 2px rgb(171, 211, 174);
  height: 7vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  opacity: 50%;
}
body .mainContainer .mainBorder .content .kant-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}
body .mainContainer .mainBorder .content .kant-links h1 {
  color: rgb(46, 86, 81);
  font-weight: 400;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
}
body .mainContainer .mainBorder .content .kant-links .plant-grid {
  display: flex;
  flex-direction: row;
  border-top: solid 3px rgba(171, 211, 174, 0.5);
  justify-content: center;
  position: relative;
  gap: 3rem;
  width: 80%;
}
body .mainContainer .mainBorder .content .kant-links .plant-grid table {
  margin-top: 1.5rem;
  width: 100%;
  border-collapse: collapse;
}
body .mainContainer .mainBorder .content .kant-links .plant-grid table td,
body .mainContainer .mainBorder .content .kant-links .plant-grid table tr,
body .mainContainer .mainBorder .content .kant-links .plant-grid table th,
body .mainContainer .mainBorder .content .kant-links .plant-grid table tbody {
  margin: 0;
  padding: 0;
}
body .mainContainer .mainBorder .content .kant-links .plant-grid table tr {
  width: 100%;
}
body .mainContainer .mainBorder .content .kant-links .plant-grid table td {
  width: 100%;
}
body .mainContainer .mainBorder .content .kant-links .plant-grid #leftPlants .plant-container {
  display: flex;
  flex-direction: row-reverse;
}
body .mainContainer .mainBorder .content .kant-links .plant-grid #leftPlants .plant-container img {
  border-radius: 0 8px 8px 0;
  margin-left: 0.5rem;
}
body .mainContainer .mainBorder .content .kant-links .plant-grid #rightPlants .plant-container img {
  border-radius: 8px 0 0 8px;
  margin-right: 0.5rem;
}
body .mainContainer .mainBorder .content .kant-links .plant-grid .vertical-line {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 3px;
  height: 95%;
  background-color: rgba(171, 211, 174, 0.5);
}
body .mainContainer .mainBorder .content .kant-links .plant-grid .plant-container {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 10px rgba(185, 185, 185, 0.5);
  border: solid 2px rgb(171, 211, 174);
  align-items: center;
  width: 100%;
  height: 7vh;
  border-radius: 10px;
  background-color: white;
}
body .mainContainer .mainBorder .content .kant-links .plant-grid .plant-container h2 {
  font-family: "Afacad", sans-serif;
  color: gray;
  font-weight: 400;
}
body .mainContainer .mainBorder .content .kant-links .plant-grid .plant-container img {
  height: 100%;
}
body .mainContainer .mainBorder .content .kant-links .plant-grid .add-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 7vh;
  width: 100%;
}
body .mainContainer .mainBorder .content .kant-links .plant-grid .add-button img {
  width: 2.5vw;
  height: 5vh;
}
body .mainContainer .mainBorder .content .kant-links .plant-grid .placeholder {
  border: dashed 2px rgb(171, 211, 174);
  height: 7vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  opacity: 50%;
}
body .mainContainer .mainBorder .content .kant-links #refresh-button {
  display: flex;
  flex-direction: column;
  border: solid 2px rgb(171, 211, 174);
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  padding: 0.75rem;
  margin-top: 1rem;
}
body .mainContainer .mainBorder .content .kant-links #refresh-button img {
  width: 1.5vw;
}
body .mainContainer .mainBorder .content .kant-rechts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  padding: 0.75rem;
}
body .mainContainer .mainBorder .content .kant-rechts .rechts-article-1 {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  height: 30%;
}
body .mainContainer .mainBorder .content .kant-rechts .rechts-article-1 .article-1-div-1 {
  padding: 0;
  margin-right: 1rem;
}
body .mainContainer .mainBorder .content .kant-rechts .rechts-article-1 .article-1-div-1 .button-style {
  border: solid 2px rgb(171, 211, 174);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: rgb(46, 86, 81);
  border-radius: 20px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  height: 100%;
}
body .mainContainer .mainBorder .content .kant-rechts .rechts-article-1 .article-1-div-1 .button-style h3 {
  font-size: 2.5rem;
}
body .mainContainer .mainBorder .content .kant-rechts .rechts-article-1 .article-1-div-1 .button-style svg {
  display: block;
  margin: auto;
}
body .mainContainer .mainBorder .content .kant-rechts .rechts-article-1 .article-1-div-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
}
body .mainContainer .mainBorder .content .kant-rechts .rechts-article-1 .article-1-div-2 .knopje {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 2px rgb(171, 211, 174);
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  color: rgb(46, 86, 81);
  border-radius: 20px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
body .mainContainer .mainBorder .content .kant-rechts .rechts-article-1 .article-1-div-2 .knopje img {
  width: 3.5vw;
}
body .mainContainer .mainBorder .content .kant-rechts .rechts-article-2 {
  height: 32.5%;
}
body .mainContainer .mainBorder .content .kant-rechts .rechts-article-2 .grafiek {
  box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff;
  border-radius: 20px;
  background-color: white;
  border: solid 2px rgb(171, 211, 174);
  height: 100%;
}
body .mainContainer .mainBorder .content .kant-rechts .rechts-article-2 .grafiek .grafiek-innerbox {
  border-radius: 35px;
  font-size: 1.25rem;
  height: 80%;
}
body .mainContainer .mainBorder .content .kant-rechts .rechts-article-2 .grafiek .grafiek-innerbox h2 {
  text-align: center;
  color: rgb(46, 86, 81);
  margin-top: 0.5rem;
}
body .mainContainer .mainBorder .content .kant-rechts .rechts-article-2 .grafiek .grafiek-innerbox #weerCanvas {
  width: 100%;
  height: 100% !important;
  padding: 0 4rem;
}
body .mainContainer .mainBorder .content .kant-rechts .rechts-article-3 {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0.75rem;
  height: 30%;
  justify-content: space-between;
}
body .mainContainer .mainBorder .content .kant-rechts .rechts-article-3 .chart-wrapper {
  width: 100%;
  position: relative;
}
body .mainContainer .mainBorder .content .kant-rechts .rechts-article-3 .chart-wrapper .custom-legend {
  position: absolute;
  left: 0.75rem;
  top: 0.5rem;
  color: gray;
}
body .mainContainer .mainBorder .content .kant-rechts .rechts-article-3 .chart-wrapper .custom-legend .gelukt-box {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  background-color: rgb(46, 86, 81);
  margin-right: 5px;
}
body .mainContainer .mainBorder .content .kant-rechts .rechts-article-3 .chart-wrapper .custom-legend .mislukt-box {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  background-color: rgb(171, 211, 174);
  margin-right: 5px;
}
body .mainContainer .mainBorder .content .kant-rechts .rechts-article-3 .chart-wrapper canvas {
  box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff;
  border: solid 2px rgb(171, 211, 174);
  border-radius: 20px;
  background-color: white;
  width: 100% !important;
}
body .mainContainer .mainBorder .content .kant-rechts .rechts-article-3 .chart-wrapper .chart-title {
  margin-bottom: 0.675rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  font-family: "Akaya Kanadaka", system-ui;
}

.divider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: solid 1px rgb(171, 211, 174);
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 20vw;
  height: auto;
  border-radius: 5px;
}
.modal .modal-binnen {
  border: solid 2px rgb(171, 211, 174);
  position: relative;
  padding: 1rem;
  border-radius: 25px;
}
.modal .modal-binnen h1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.modal .modal-binnen .close {
  color: #aaa;
  position: absolute;
  font-size: 2rem;
  font-weight: bold;
  margin-top: -35px;
  right: 15px;
  top: 45px;
}
.modal .modal-binnen .close:hover, .modal .modal-binnen .close:active {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal .modal-binnen form .inputvelden {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal .modal-binnen form .inputvelden .categorieKeuzes {
  width: 100%;
}
.modal .modal-binnen form h2 {
  font-family: "Afacad", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
.modal .modal-binnen form .inputvelden input,
.modal .modal-binnen form #plantensoort {
  width: 100%;
}
.modal .modal-binnen form select,
.modal .modal-binnen form input {
  margin-bottom: 15px;
  border: 2px solid rgb(171, 211, 174);
  border-radius: 5px;
  box-sizing: border-box;
}
.modal .modal-binnen form button {
  width: 48%;
  padding: 10px;
  box-sizing: border-box;
}
.modal .modal-binnen form .knop-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.modal .modal-binnen form .knop-container input,
.modal .modal-binnen form .knop-container button {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  box-sizing: border-box;
}
.modal .modal-binnen form .knop-container .submit-plant {
  background-color: rgb(171, 211, 174);
}
.modal .modal-binnen form .knop-container .submit-plant:hover {
  background-color: rgb(185, 216, 188);
}
.modal .modal-binnen form input[type=text],
.modal .modal-binnen form select {
  border: 2px solid rgb(171, 211, 174);
  padding: 10px;
  border-radius: 17px;
  box-sizing: border-box;
}
.modal .modal-binnen form .radio-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.modal .modal-binnen form .radio-group input[type=radio] {
  margin-right: 5px;
}
.modal .modal-binnen form .radio-single {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.modal .modal-binnen form .radio-single input {
  transform: translateY(50%);
}
.modal .modal-binnen form .radio-kant {
  display: flex;
  flex-direction: column;
}
.modal .modal-binnen form input[type=submit],
.modal .modal-binnen form button {
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: "Akaya Kanadaka", system-ui;
}
.modal .modal-binnen form input[type=submit] {
  background-color: rgb(171, 211, 174);
  font-size: 1rem;
  font-family: "Akaya Kanadaka", system-ui;
}
.modal .modal-binnen form button {
  color: white;
  font-family: "Akaya Kanadaka", system-ui;
  font-size: 1rem;
}
.modal .modal-binnen form .annulatie-knop {
  background-color: rgb(46, 86, 81);
}
.modal .modal-binnen form .annulatie-knop:hover {
  background-color: rgb(60, 107, 102);
}

.modal-content {
  width: 20vw;
}
.modal-content .modal-items {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(171, 211, 174);
  border-radius: 1.7vh;
  box-sizing: border-box;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.modal-content h2 {
  font-family: "Akaya Kanadaka", system-ui;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 1em;
}
.modal-content .okButton {
  font-family: "Akaya Kanadaka", system-ui;
  width: 48%;
  padding: 1vh;
  box-sizing: border-box;
  border: none;
  border-radius: 20vh;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  background-color: rgb(171, 211, 174);
  color: black;
}
.modal-content .okButton:hover {
  background-color: rgb(185, 216, 188);
}

.switch-container {
  display: flex;
  justify-content: start;
}
.switch-container .switch-container {
  display: flex;
  align-items: center;
  justify-content: start;
}
.switch-container .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}

input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(143, 188, 143); /* Assuming $primary-color is #2196F3 */
}

input:checked + .slider {
  background-color: rgb(143, 188, 143); /* Assuming $primary-color is #2196F3 */
}

input:checked + .slider:before {
  transform: translateX(23px);
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(143, 188, 143);
  /* Assuming $primary-color is #2196F3 */
}

input:checked + .slider:before {
  transform: translateX(23px);
}

#loading-screen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 9999;
}
#loading-screen .loading-spinner {
  border: 10px solid #f3f3f3;
  border-top: 10px solid rgb(171, 211, 174);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 42.5%;
  left: 47.5%;
}

#planten-button,
.knopje {
  box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff;
  background: white;
  border-radius: 2vh;
  cursor: pointer;
  transition: all 0.3s ease;
}

.modal-content-close {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15vh;
  width: 22.5vw;
  padding: 1rem;
}
.modal-content-close .modal-items-close {
  border: solid 2px rgb(171, 211, 174);
  border-radius: 1.7vh;
  height: 100%;
}
.modal-content-close .modal-items-close p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Akaya Kanadaka", system-ui;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 3em;
}
.modal-content-close button {
  width: 40%;
  padding: 1vh;
  border: none;
  border-radius: 20vh;
  cursor: pointer;
  color: white;
  font-family: "Akaya Kanadaka", system-ui;
  font-size: 1rem;
  margin-left: 1.7em;
  margin-bottom: 0.6em;
}
.modal-content-close button.annulatie-knop {
  background-color: rgb(46, 86, 81);
}
.modal-content-close button.annulatie-knop:hover {
  background-color: rgb(60, 107, 102);
}
.modal-content-close button.submit-plant {
  background-color: rgb(143, 188, 143);
  color: black;
}
.modal-content-close button.submit-plant:hover {
  background-color: rgb(185, 216, 188);
}

#loginModal,
#registerModal,
#logoutModal,
#flashModal,
#confirmModal,
#resultsModal {
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
#loginModal .modal-content,
#registerModal .modal-content,
#logoutModal .modal-content,
#flashModal .modal-content,
#confirmModal .modal-content,
#resultsModal .modal-content {
  border: solid 2px rgb(171, 211, 174);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 1rem 1rem;
  gap: 1rem;
}
#loginModal .modal-content h2,
#registerModal .modal-content h2,
#logoutModal .modal-content h2,
#flashModal .modal-content h2,
#confirmModal .modal-content h2,
#resultsModal .modal-content h2 {
  font-size: 2rem;
  margin: 0;
}
#loginModal .modal-content .close,
#registerModal .modal-content .close,
#logoutModal .modal-content .close,
#flashModal .modal-content .close,
#confirmModal .modal-content .close,
#resultsModal .modal-content .close {
  color: #aaa;
  position: absolute;
  font-size: 2rem;
  font-weight: bold;
  margin-top: -35px;
  right: 15px;
  top: 30px;
  cursor: pointer;
}
#loginModal .modal-content .flashes,
#registerModal .modal-content .flashes,
#logoutModal .modal-content .flashes,
#flashModal .modal-content .flashes,
#confirmModal .modal-content .flashes,
#resultsModal .modal-content .flashes {
  margin: 0;
  padding: 0;
}
#loginModal .modal-content .form-group,
#registerModal .modal-content .form-group,
#logoutModal .modal-content .form-group,
#flashModal .modal-content .form-group,
#confirmModal .modal-content .form-group,
#resultsModal .modal-content .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
#loginModal .modal-content .form-group input[type=text],
#loginModal .modal-content .form-group input[type=password],
#loginModal .modal-content .form-group select,
#registerModal .modal-content .form-group input[type=text],
#registerModal .modal-content .form-group input[type=password],
#registerModal .modal-content .form-group select,
#logoutModal .modal-content .form-group input[type=text],
#logoutModal .modal-content .form-group input[type=password],
#logoutModal .modal-content .form-group select,
#flashModal .modal-content .form-group input[type=text],
#flashModal .modal-content .form-group input[type=password],
#flashModal .modal-content .form-group select,
#confirmModal .modal-content .form-group input[type=text],
#confirmModal .modal-content .form-group input[type=password],
#confirmModal .modal-content .form-group select,
#resultsModal .modal-content .form-group input[type=text],
#resultsModal .modal-content .form-group input[type=password],
#resultsModal .modal-content .form-group select {
  border: 2px solid rgb(171, 211, 174);
  padding: 10px;
  border-radius: 17px;
  box-sizing: border-box;
}
#loginModal .modal-content .button-container,
#registerModal .modal-content .button-container,
#logoutModal .modal-content .button-container,
#flashModal .modal-content .button-container,
#confirmModal .modal-content .button-container,
#resultsModal .modal-content .button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2rem 0 0;
}
#loginModal .modal-content .button-container-logout,
#registerModal .modal-content .button-container-logout,
#logoutModal .modal-content .button-container-logout,
#flashModal .modal-content .button-container-logout,
#confirmModal .modal-content .button-container-logout,
#resultsModal .modal-content .button-container-logout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0.75rem;
}
#loginModal .modal-content .button-container-flash,
#registerModal .modal-content .button-container-flash,
#logoutModal .modal-content .button-container-flash,
#flashModal .modal-content .button-container-flash,
#confirmModal .modal-content .button-container-flash,
#resultsModal .modal-content .button-container-flash {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0.75rem;
}

#logoutModal .modal-content h3,
#flashModal .modal-content h3,
#confirmModal .modal-content h3,
#resultsModal .modal-content h3 {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.25rem;
}

/*RESULT-MODAL*/
#resultsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  height: 100%;
  padding: 0.25rem;
}
#resultsContainer p {
  text-align: center;
  color: grey;
  font-size: 1.25rem;
}

.plant-list {
  max-height: 500px;
  overflow-y: auto;
  gap: 0.75rem;
  width: 97.5%;
  margin: 1rem 0;
}

.plant-item {
  border: solid 2px rgb(171, 211, 174);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
  box-sizing: border-box;
}
.plant-item span {
  font-weight: bold;
  font-size: 1.25rem;
  color: grey;
}

.plant-item:hover {
  box-shadow: 0px 0px 10px rgba(171, 211, 174, 0.5);
  cursor: pointer;
}

.plant-item img {
  width: 3.5vw;
  border-radius: 8px 0 0 8px;
  margin-right: 0.5rem;
}

#resultsModal {
  min-width: 20vw;
}
#resultsModal .modal-content {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.cancel-button {
  width: 47.5%;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 20vh;
  cursor: pointer;
  color: white;
  font-family: "Akaya Kanadaka", system-ui;
  font-size: 1rem;
  background-color: rgb(46, 86, 81);
}
.cancel-button:hover {
  background-color: rgb(60, 107, 102);
}

.submit-button {
  font-family: "Akaya Kanadaka", system-ui;
  width: 47.5%;
  padding: 0.6rem 1rem;
  box-sizing: border-box;
  border: none;
  border-radius: 20vh;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  background-color: rgb(171, 211, 174);
}
.submit-button:hover {
  background-color: rgb(185, 216, 188);
}

.radio-group .radio-single,
.radio-kant .radio-single {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.radio-group .radio-single input[type=radio],
.radio-kant .radio-single input[type=radio] {
  display: none;
}
.radio-group .radio-single label,
.radio-kant .radio-single label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding-left: 2.5vw;
}
.radio-group .radio-single label::before,
.radio-kant .radio-single label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid gray;
  background-color: #fff;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}
.radio-group .radio-single label::after,
.radio-kant .radio-single label::after {
  content: "";
  position: absolute;
  left: 3.5px;
  top: 50%;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: rgb(46, 86, 81);
  transition: opacity 0.2s ease;
  opacity: 0;
}
.radio-group .radio-single input[type=radio]:checked + label::before,
.radio-kant .radio-single input[type=radio]:checked + label::before {
  border-color: gray;
}
.radio-group .radio-single input[type=radio]:checked + label::after,
.radio-kant .radio-single input[type=radio]:checked + label::after {
  opacity: 1;
}

.loading-icon {
  border: 2px solid #f3f3f3;
  border-top: 2px solid rgb(46, 86, 81);
  border-radius: 50%;
  width: 14px;
  height: 14px;
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
}

.loading {
  pointer-events: none;
  background-color: rgba(171, 211, 174, 0.5);
  color: transparent;
  cursor: not-allowed;
}

.loading .loading-icon {
  display: inline-block;
}

.kant-links-instellingen {
  width: 45%;
  margin-left: 1.5rem;
}
.kant-links-instellingen h1 {
  font-size: 3.2em;
  font-weight: 400;
  color: rgb(46, 86, 81);
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}
.kant-links-instellingen .links-content-instellingen {
  padding: 1em;
  border: solid 2px rgb(171, 211, 174);
  box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff;
  border-radius: 20px;
  background-color: white;
  height: 78%;
}
.kant-links-instellingen h2 {
  font-size: 2.5em;
  font-weight: 400;
  color: rgb(46, 86, 81);
  border-bottom: 2px solid rgb(171, 211, 174);
  padding: 0.3em;
}
.kant-links-instellingen .account {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(171, 211, 174);
  font-family: "Akaya Kanadaka", system-ui;
  font-size: 1.2rem;
}
.kant-links-instellingen .account .account-rol {
  margin-left: 2em;
}
.kant-links-instellingen .account .account-rol .rol-titel {
  font-weight: bold;
  color: gray;
}
.kant-links-instellingen .account .account-rol p {
  color: slategray;
}
.kant-links-instellingen .account .account-gemaakt {
  margin-right: 2em;
}
.kant-links-instellingen .account .account-gemaakt .gemaakt-titel {
  font-weight: bold;
  color: rgb(46, 86, 81);
}
.kant-links-instellingen .form-admin {
  margin-left: 2em;
}
.kant-links-instellingen .form-admin .inputvelden {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 1rem;
  font-weight: bold;
}
.kant-links-instellingen .form-admin .inputvelden input {
  border: solid 2px rgb(171, 211, 174);
  border-radius: 20px;
  width: 100%;
  padding: 0.5rem;
}
.kant-links-instellingen .form-admin .reset-button {
  box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  background-color: rgb(46, 86, 81);
  color: white;
  font-family: "Akaya Kanadaka", system-ui;
  font-size: large;
  width: 8rem;
  margin-left: 55%;
}

.kant-rechts-instellingen {
  padding: 1em;
  margin-right: 1.5rem;
  border: solid 2px rgb(171, 211, 174);
  box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff;
  border-radius: 20px;
  background-color: white;
  height: 90%;
  width: 45%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.kant-rechts-instellingen h2 {
  border-bottom: 2px solid rgb(171, 211, 174);
}
.kant-rechts-instellingen form {
  border-bottom: 2px solid rgb(171, 211, 174);
}
.kant-rechts-instellingen form .inputvelden {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 1rem;
  font-weight: bold;
}
.kant-rechts-instellingen form .inputvelden input {
  border: solid 2px rgb(171, 211, 174);
  border-radius: 20px;
  width: 100%;
  padding: 0.5rem;
}
.kant-rechts-instellingen .setting-meldingen {
  border-bottom: 2px solid rgb(171, 211, 174);
}
.kant-rechts-instellingen .Overige {
  margin-top: auto;
}
.kant-rechts-instellingen .setting-account {
  display: flex;
  justify-content: space-between;
}
.kant-rechts-instellingen .setting-account p {
  color: red;
}/*# sourceMappingURL=style.css.map */