<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="De pagina voor de instellingen." />
    <meta name="author" content="B. Diker, A. Oomen, J. Doekhi, R. van Putten, M. Çifçi, M. Heins"/>
    <meta name="keywords" content="Instellingen / Algoritme / Voeding / Planten / Data / Kas"/>
    <title>Instellingen - GoodGarden</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}">
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="../static/js/main.js" defer></script>
    
  </head>
<body>
  <article id="loading-screen">
    <article class="loading-spinner"></article>
  </article>
  <section class="mainContainer">
    <h1>{{ api_naam }}</h1>
    <article class="mainBorder">
      <h1>Instellingen</h1>
      <div class="content">
        <div class="kant-links">
          <h2>Account</h2>
          <div id="account-info">
            <div id="rol">    
              <p>Gebruikersrol:</p>
              <span id="gebruikersrol">{{ role }}</span>
            </div>
            <div id="account">
              <p>Account aangemaakt:</p>
              <span id="account-timestamp">{{ aangemaakt }}</span>
            </div>
          </div>
          <form method="post">
            <div class="inputvelden">
              <label for="gebruikersnaam">Gebruikersnaam</label>
              <input type="text" name="gebruikersNaam" id="gebruikersNaam" placeholder="{{ username }}"/>
              <label for="e-mail">E-mail</label>
              <input type="email" name="e-mail" id="e-mail" placeholder="{{ email }}"/>
              <label for="huidigeWachtwoord">Huidige wachtwoord</label>
              <input type="password" name="gebruikerWachtwoord" id="huidigeWachtwoord" placeholder="***********"/>
              <label for="nieuwWachtwoord">Nieuw wachtwoord</label>
              <input type="password" name="nieuwWachtwoord" id="nieuwWachtwoord" />
              <label for="verifyWachtwoord"> Herhaal nieuw wachtwoord</label>
              <input type="password" name="verifyWachtwoord" id="verifyWachtwoord" />
            </div>
            <input type="submit" value="Submit">
          </form>
        </div>
        <section class="kant-rechts">
        <article>

          <h2>Api</h2>
          <form action="" method="post">
            <label for="weerApiSleutel">Weer Api-sleutel:</label>
            <input type="text" name="weerApiSleutel" id="weerApiSleutel">
            <label for="plantApiSleutel">planten Api-sleutel:</label>
            <input type="text" name="plantApiSleutel" id="plantApiSleutel">
            <input type="button" value="Submit">
          </form>
        </article>
        <article>
          <h2>Overige</h2>
          <div class="onder-border"></div>
          <div class="setting-meldingen">
            <div class="switch-container">
            <p>Meldingen ontvangen:</p>
              <div class="switch-wrapper">
                <label class="switch">
                  <input type="checkbox">
                  <span class="slider"></span>
                </label>
              </div>
            </div>
          </div>          
        </article>
        <article class="setting-account">
            <p>Verwijder account</p>  
            <p>Reset database</p>
        </article>
        </section>    
      </div>
      
    </article>
    </section>
</body>
</html>