{% extends "partials/base.html" %}
    {% block content %}
      <section class="mainBorder">
        <section class="content">
          <!--MIDDEN-->
          <section class="kant-midden">
            <nav class="navbar">
              <h1>Alle planten</h1>
              <div class="navbar-icons">
                <a href="#" class="icons-border" onclick="openModal()"
                  ><img
                    src="../static/images/icons-category/plus.png"
                    alt="Add Plant"
                /></a>
                <a href="#"
                  ><img
                    src="../static/images/nav/home/refresh.png"
                    alt="Refresh"
                /></a>
                <a href="#" onclick="openFilterModals()"
                  ><img
                    src="../static/images/nav/home/settings.png"
                    alt="Search"
                /></a>
                <a href="#" onclick="openFilterModal()"
                  ><img
                    src="../static/images/nav/home/magnifier.png"
                    alt="Settings"
                /></a>
              </div>
            </nav>
            <div class="plant-grid">
              <table id="plantTable" class="plant-table">
                <thead>
                  <tr>
                    <th colspan="4"></th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
            <div class="navbar">
              <div class="navbar-icons">
                <a href="#" id="prevPageBtn" onclick="prevPage()"
                  ><img
                    src="../static/images/icons-category/left-arrow.png"
                    alt="Arrow"
                /></a>

                <a href="#" id="prevPageBtn" onclick="nextPage()"
                  ><img
                    src="../static/images/icons-category/right-arrow.png"
                    alt="Arrow"
                /></a>
              </div>
            </div>
          </section>
        </section>
      </section>
    {% endblock %}