<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="De pagina voor de plant."
    />
    <meta
      name="author"
      content="B. Diker, A. Oomen, J. Doekhi, R. van Putten, M. Çifçi, M. Heins"
    />
    <meta
      name="keywords"
      content="Plant informatie / Algoritme / Voeding / Planten / Data / Kas"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="../static/js/main.js" defer></script>
    <title>Plant</title>
  </head>
<body>
    <article id="loading-screen">
        <article class="loading-spinner"></article>
    </article>
    <section  class="mainContainer">
      <section class="mainBorder">
        
      </section>
    </section>
</body>
</html>