<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="De pagina voor de pomp(en)." />
    <meta
      name="author"
      content="B. Diker, A. Oomen, J. Doekhi, R. van Putten, M. Çifçi, M. Heins"
    />
    <meta
      name="keywords"
      content="Pomp informatie / Algoritme / Voeding / Planten / Data / Kas"
    />
    <title>Pomp - GoodGarden</title>
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='images/logo.png') }}"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="../static/js/main.js" defer></script>
  </head>
  <body>
    <article id="loading-screen">
      <article class="loading-spinner"></article>
    </article>
    <nav class="nav-menu">
      <ul>
        {% if user.is_authenticated %} {% if user.role == "admin" %}
        <a
          href="{{ url_for('main.settings') }}"
          id="settings-button"
          data-url="{{ url_for('main.settings') }}"
        >
          <img src="../static/images/nav/user.png" alt="Settings button" />
        </a>
        {% endif %}
        <a href="#" id="logout-button">
          <img src="../static/images/nav/logout.png" alt="Logout button" />
        </a>
        {% else %}
        <a href="#" id="register-button">
          <img src="../static/images/nav/register.png" alt="Register button" />
        </a>
        <a href="#" id="login-button">
          <img src="../static/images/nav/login.png" alt="Login button" />
        </a>
        {% endif %}
      </ul>
    </nav>
    <!--MAIN-->
    <section class="mainContainer">
      <section class="mainBorder"></section>
    </section>
    <!-- Login Modal -->
    <div id="loginModal" class="modal">
      <div class="modal-content">
        <h2>Inloggen</h2>
        <span class="close" id="loginClose">&times;</span>
        <form id="loginForm" method="POST" action="{{ url_for('main.login') }}">
          <div class="form-group">
            <label for="username">Gebruikersnaam</label>
            <input type="text" id="username" name="username" required />
          </div>
          <div class="form-group">
            <label for="password">Wachtwoord</label>
            <input type="password" id="password" name="password" required />
          </div>
          <div class="button-container">
            <button type="button" class="cancel-button" id="loginCancel">
              Annuleren
            </button>
            <button type="submit" class="submit-button">Inloggen</button>
          </div>
        </form>
      </div>
    </div>
    <!-- Register Modal -->
    <div id="registerModal" class="modal">
      <div class="modal-content">
        <h2>Registreren</h2>
        <span class="close" id="registerClose">&times;</span>
        <form
          id="registerForm"
          method="POST"
          action="{{ url_for('main.register') }}"
        >
          <div class="form-group">
            <label for="username">Gebruikersnaam</label>
            <input type="text" id="username" name="username" required />
          </div>
          <div class="form-group">
            <label for="password">Wachtwoord</label>
            <input type="password" id="password" name="password" required />
          </div>
          <div class="button-container">
            <button type="button" class="cancel-button" id="registerCancel">
              Annuleren
            </button>
            <button type="submit" class="submit-button">Registreren</button>
          </div>
        </form>
      </div>
    </div>
    <!-- Logout Modal -->
    <div id="logoutModal" class="modal">
      <div class="modal-content">
        <h3>Weet je zeker dat je wilt uitloggen?</h3>
        <span class="close" id="logoutClose">&times;</span>
        <form
          id="logoutForm"
          method="POST"
          action="{{ url_for('main.logout') }}"
        >
          <div class="button-container-logout">
            <button type="button" class="cancel-button" id="logoutCancel">
              Annuleren
            </button>
            <button type="submit" class="submit-button">Uitloggen</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
